@{
    Layout = "_DefaultEmailLayout.cshtml";
}

<td style="padding:36px 30px 0 30px;">
    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
    <tr>
        <td style="padding:0 0 36px 0;color:#153643;">
        <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">Password Reset Notification</h1>
        <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">The password on your account has been reset</p>
        <p style="margin:20px 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Your new password is: <strong>@Model.Password</strong></p>

        <p style="margin:30px 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;color:red">if you didn't request this email, please ignore it.</p>
        
        <p style="margin:50px 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Regards,<br>Management Team</p>
        </td>
    </tr>
    </table>
</td>